asn1crypto==0.24.0
bcrypt==3.1.4
cffi==1.11.5
click==6.7
cryptography==1.9
Flask==0.12.2
Flask-Cors==3.0.3
Flask-SQLAlchemy==2.3.2
idna==2.6
itsdangerous==0.24
Jinja2==2.10
MarkupSafe==1.0
nltk==3.2.5
pyaml==17.12.1
pycparser==2.18
PyJWT==1.6.1
PyMySQL==0.8.0
PyYAML==3.12
six==1.11.0
SQLAlchemy==1.2.6
Werkzeug==0.14.1
